body {
  background: #1a1a1a;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #2a2a2a;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  background: #111;
  border: none;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: #3b3b3b;
  border: none;
  padding: 22px;
  font-size: 1.2rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #555;
}

.operator {
  background: #f39c12;
}

.operator:hover {
  background: #e67e22;
}

.equal {
  grid-column: span 4;
  background: #27ae60;
}

.equal:hover {
  background: #2ecc71;
}

.clear {
  background: #c0392b;
}

.clear:hover {
  background: #e74c3c;
}
